.main-header h1 {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--gray-900);
}

.dashboard-main {
  padding: 1.5rem 2rem;
  flex: 1;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 0;
}

.group-card {
  background-color: var(--bg-surface);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border: 1px solid var(--gray-100);
}

.group-card:hover {
  border: 2px solid var(--gray-800);
}

.group-header h3 {
  color: var(--gray-800);
  font-size: 1.25rem;
  font-weight: 600;
}

.group-header p {
  color: var(--gray-600);
  font-size: 0.9rem;
}

.group-financials {
  border-top: 1px solid var(--gray-100);
  border-bottom: 1px solid var(--gray-100);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.financial-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}

.financial-row-owed {
  color: rgb(94, 238, 102);
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}

.financial-row-owe {
  color: rgb(255, 69, 69);
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
}
